<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="First Name"/>
      <input type="text" placeholder="Last Name"/>
      <input type="password" placeholder="password"/>
      <input type="datetime" placeholder="Date of Birth"/>
      <input type="text" placeholder="email address"/>

      <button (click)="HomePage()">create</button>
      <p class="message">Already registered? <a (click)=LoginForm()>Sign In</a></p>
    </form>
  </div>
</div>