<div class="login-page">
  <div class="form">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-inline">
      <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name" formControlName="FirstName" [errorStateMatcher]="matcher">
            <mat-error *ngIf="registerForm.hasError('FirstName') && !registerForm.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="registerForm.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            </mat-form-field>
      </div>
      <div class="col-md-4" class="form-group">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Middle Name" formControlName="MiddleName" >
            </mat-form-field>
    </div>
      <div class="col-md-4" class="form-group">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" formControlName="LastName" [errorStateMatcher]="matcher">
              <!-- <mat-error *ngIf="registerForm.hasError('firstName') && !registerForm.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="registerForm.hasError('required')">
                Email is <strong>required</strong>
              </mat-error> -->
              </mat-form-field>
        </div>
      
      <div class="col-md-4" class="form-group">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="User Name" formControlName="UserName" [errorStateMatcher]="matcher">
            </mat-form-field>
      </div>
      <div class="col-md-4" class="form-group">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Phone Number" formControlName="PhoneNumber" [errorStateMatcher]="matcher">
          </mat-form-field>
    </div>
    <div class="col-md-4" class="form-group">
        <mat-form-field>
            <mat-select placeholder="Select any..."  formControlName="RoleType">
                <mat-option *ngFor="let user of userKeys()" 
                [value]="userValues[user]">
                  {{user}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="userID" formControlName="UserID" [errorStateMatcher]="matcher">
        </mat-form-field>
      </div>
  </div>
      <div class=col-md-3>
            <!-- <div > 
              <label for="gender">Gender</label>
            </div> -->
            <!-- <div class="col-md-8">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
                    <label class="custom-control-label" for="defaultInline1">male</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
                    <label class="custom-control-label" for="defaultInline2">Female</label>
                  </div> -->
<div class="form-group">
    <mat-form-field>
        <mat-select placeholder="Select any..."  formControlName="Gender">
            <mat-option *ngFor="let gender of genderKeys()" 
            [value]="genderValues[gender]">
              {{gender}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
          <!-- </div> -->
          </div>
          <div class="col-md-7" class="form-group">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email" formControlName="Email" [errorStateMatcher]="matcher">
                </mat-form-field>
          </div>
      
     <div class=col-md-12>
       <div class=col-md-4 class="form-group">
          <mat-form-field class="example-full-width">
              <input matInput  [matDatepicker]="picker" placeholder="dob" formControlName="DateOfBirth">
              <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
       </div>
         </div>
      <div class=col-md-4 class="form-group">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" formControlName="Password" [errorStateMatcher]="matcher"  [type]="hide ? 'password':'text'">
            </mat-form-field>
      </div>
      <div class=col-md-6 class="form-group">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="confirmPassword" formControlName="ConfirmPassword" [errorStateMatcher]="matcher"  [type]="hide ? 'password':'text'">
            </mat-form-field>
      </div>
    
      
      
      <div class="form-group">
        <div class="col-md-7">
            <button [disabled]="loading" mat-raised-button color="primary">Register</button>
        </div>
        <div class="col-md-3">
            <a routerLink='/login' class="btn btn-link" mat-raised-button color="primary">Cancel</a>
        </div>
        
        
      </div>
    </form>
    <div *ngIf="showError">
      <span  >{{errormsg}}</span>
    </div>
  </div>
</div>


