<div>
      <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="defaultInline1" name="Books" value=""(click)="AddNew()" checked="checked">
          <label class="custom-control-label" for="defaultInline1">Add New</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" class="custom-control-input" id="defaultInline2" name="Books" (click)="AddExisting()">
          <label class="custom-control-label" for="defaultInline2">Add Existing</label>
        </div>
        <div style="float: right;">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onClose()" >
                <mat-icon>close</mat-icon>
              </button>
        </div>
</div>
  <div *ngIf="isNewBookAdded" id="booksData" >
      <form [formGroup]="CreateNewBook" (submit)="onSubmit()"  class="form-inline" >
        
            <div class=col-md-4>
                <div class="form-group">
                    <label for="Name">Book Name</label>
                    <input type="text"  class="form-control" formControlName="Name" />
                  </div>
            </div>
            <div class=col-md-4>
                <div class="form-group">
                    <label for="Author">Author</label>
                    <input type="text"  class="form-control" formControlName="Author" />
                  </div>
            </div>
            <div formArrayName="ISBNNumber"> 
              <div formGroupName="0">
            <div class=col-md-4>
                <div class="form-group">
                    <label for="id">ISBN Number</label>
                    <input type="text"  class="form-control" formControlName="TrackNo" />
                  </div>
            </div>
            <div class=col-md-4>
                <div class="form-group">
                    <label for="Edition">Edition </label>
                    <input type="text"  class="form-control" formControlName="Edition" />
                  </div>
            </div>
          </div>
        </div>
            <div class=col-md-4>
                <div class="form-group">
                      <label for="PublishingYear"> Published Year</label>
                      <input type="date"  class="form-control" placeholder="yyyy-mm-dd" formControlName="PublishingYear">
                  </div>
            </div>
            <div class=col-md-7>
                <button  mat-raised-button color="primary">Add</button >
                  <button  mat-raised-button color="warn" (click)="onClose()" tabIndex="-1" style="margin: 10px;">cancel</button >
            </div>
      </form>
  </div>

  <div *ngIf="isIncreasedBooks" id="booksData" style= "display:inline-block;">
      <div>
          <mat-form-field>
              <mat-select placeholder="Select any..." [(value)]="selectedBook">
                <mat-option *ngFor="let book of books" [value]="book.Id" >
                  {{book.Name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
   <form [formGroup]="AddToExistingBooks" (submit)="onExistingSubmit()"  class="form-inline">
     <div class="col-md-4">
        <div class="form-group">
            <!-- <label for="Name">Book Name</label> -->
        <!-- <select class="form-control" placeholder="Select any..." formControlName="Name" >
            <option id="options">Physics</option>
            <option id="options" >english</option>
          </select> -->

     
          </div>
     </div>
     <div formArrayName="ISBNNumber"> 
        <div formGroupName="0">
     <div class="col-md-4">
     <div class="form-group">
        <label for="id">ISBN Number</label>
        <input type="text"  class="form-control" formControlName="TrackNo" />
      </div>
     </div>
     <div class="col-md-4">
    <div class="form-group">
    <label for="Edition">Edition</label>
    <input type="text"  class="form-control" formControlName="Edition" />
    </div>
  </div>
  </div>
  </div>
  <div >
      <button  mat-raised-button color="primary" style="margin: 10px; float: right;">Add</button >
        <button  mat-raised-button color="warn" (click)="onClose()" tabIndex="-1" style="margin: 10px; float: right;">cancel</button >
  </div>
</form>
  </div>
 
 

